<div
  class="relative isolate overflow-hidden bg-[##ACA796] px-6 py-8 sm:py-32 lg:overflow-visible lg:px-0"
  #aboutUs
>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1
            [ngClass]="{
              'translate-x-0': animationActive,
              '-translate-x-full': !animationActive,
              'transition-transform': true,
              'duration-1000': true
            }"
            class="mt-2 text-pretty text-4xl uppercase tracking-tight sm:text-5xl"
          >
            Chi siamo
          </h1>
          <p
            [ngClass]="{
              'translate-x-0': animationActive,
              '-translate-x-full': !animationActive,
              'transition-transform': true,
              'duration-1000': true
            }"
            class="mt-6 text-2xl md:text-3xl 2xl:text-4xl max-w-3xl"
          >
            Prendi due amici con lo stesso sogno nel cassetto, aggiungi una
            massiccia dose di coraggio e un pizzico di incoscienza: il prodotto
            finale è <span class="font-bold">RIESA</span>. Noi siamo Riccardo e
            Samuel, soci e compagni di avventure ambiziose. Lavoriamo
            quotidianamente per ottenere vini di qualità e facciamo
            dell’orgoglio il motore che ci spinge a migliorare, giorno dopo
            giorno. <br />
            Vieni a scoprire la nostra azienda: siamo entusiasti di presentare i
            nostri vini a quante più persone possibili!
          </p>
        </div>
      </div>
    </div>
    <div
      class="-ml-12 -mt-4 p-12 lg:sticky lg:top-20 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <img
        [ngClass]="{
          'translate-x-0': animationActive,
          'translate-x-full': !animationActive,
          'transition-transform': true,
          'duration-1000': true
        }"
        class="w-[48rem] max-h-[900px] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 hidden sm:block sm:w-[57rem] object-cover object-bottom-top"
        src="assets/images/whoweare.jpg"
        alt=""
      />
      <img
        [ngClass]="{
          'translate-x-0': animationActive,
          'translate-x-full': !animationActive,
          'transition-transform': true,
          'duration-1000': true
        }"
        class="w-screen object-cover max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 sm:hidden ring-gray-400/10 sm:w-[57rem]"
        src="assets/images/whoweare.jpg"
        alt=""
      />
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div
        [ngClass]="{
          'translate-x-0': animationActive,
          '-translate-x-full': !animationActive,
          'transition-transform': true,
          'duration-1000': true
        }"
        class="lg:pr-4"
      ></div>
    </div>
  </div>
</div>
