<div class="mt-[112px]">
  <div
    class="mx-auto max-w-2xl px-4 py-6 pb-16 sm:px-6 lg:max-w-7xl lg:px-8"
  >
    <div class="flex justify-center items-center mb-16">
        <h1 class="text-text text-4xl uppercase tracking-tight sm:text-5xl">
          I nostri vini
        </h1>
    </div>
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 xl:gap-x-8"
    >
      @for (wine of wines; track wine.id) {
      <a
        [routerLink]="['/wines', wine.id]"
        class="group rounded-xl p-3 hover:scale-105 transition-t  ransform duration-300"
        [ngStyle]="{ 'background-color': wine.background }"
      >
        <img
          [src]="wine.imageUrl"
          [alt]="'Bottiglia di ' + wine.name + ' - ' + wine.denomination"
          class="aspect-square w-full rounded-lg object-contain group-hover:opacity-75 xl:aspect-[7/8]"
        />
        <div class="w-full flex justify-center items-center mt-3">
          <h3 class="text-4xl text-center"
          [ngStyle]="{ 'color': wine.textColor }">
            {{ wine.name }}
          </h3>
        </div>
        <!-- Informazioni aggiuntive opzionali -->
        <div class="text-center mt-2">
          <p class="text-sm opacity-75"
             [ngStyle]="{ 'color': wine.textColor }">
            {{ wine.denomination }}
          </p>
          <p class="text-xs opacity-60 mt-1"
             [ngStyle]="{ 'color': wine.textColor }">
            {{ wine.grape }} - {{ wine.alcohol }}
          </p>
        </div>
      </a>
      }
    </div>
  </div>
</div>
<app-footer></app-footer>