<div class="flex flex-col md:flex-row h-screen">
  <div
    class="md:w-1/2 md:sticky top-0 h-full bg-[#692D46] mt-30 md:mt-0 md:p-30"
  >
    <img
      src="assets/images/try.png"
      alt="Bottiglia di vino"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="md:w-1/2 md:overflow-y-auto p-8 mt-20">
    <div class="flex justify-between w-full">
      <div>Tenuta Riesa</div>
      <div>2012</div>
      <div>Cantina samp</div>
    </div>
    <h1 class="mt-4 text-pretty text-4xl uppercase tracking-tight sm:text-5xl">
      Nebbiolo
    </h1>
    <div class="mt-4 text-lg">
      Un vino elegante e complesso, il nostro Nebbiolo 2012 nasce dalle colline
      esposte a sud della Tenuta Riesa. Fermentato in botti di rovere francese e
      affinato per 24 mesi, questo vino rappresenta il perfetto equilibrio tra
      struttura e raffinatezza.
    </div>
  </div>
</div>
