<div
  class="flex flex-col md:flex-row justify-between md:px-32 md:py-32 px-14 py-14 gap-10 mb-20 opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out"
  [ngClass]="{ 'opacity-100 translate-y-0': isVisible }"
  #whoWeAre
>
  <div class="flex flex-col gap-2">
    <div class="text-4xl sm:text-5xl md:text-6xl font-bold md:w-2/3">
      A proposito del nostro vino
    </div>
    <div class="text-2xl md:text-3xl xl:text-4xl max-w-3xl">
      Riesa è un'azienda vinicola che produce vini di alta qualità. La nostra
      azienda è situata in una delle regioni vinicole più prestigiose d'Italia.
      Abbiamo una vasta gamma di vini, tra cui vini rossi, bianchi e rosati. I
      nostri vini sono prodotti con uve di alta qualità e seguono un processo di
      produzione tradizionale.
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:w-1/2">
    <img class="rounded" src="assets/images/e.avif" alt="">
    <img class="rounded" src="assets/images/tree.avif" alt="">
  </div>
</div>
