<div
  class="flex flex-col items-center justify-between md:pt-32 pt-14 gap-10 opacity-0 transform translate-y-10 transition-all duration-700 ease-in-out"
  [ngClass]="{ 'opacity-100 translate-y-0': isVisible }"
  #whoWeAre
>
  <div class="flex flex-col gap-2 items-center text-stone-600">
    <h1
      class="mt-24 text-5xl font-semibold tracking-tight text-pretty text-stone-600 sm:mt-10 sm:text-7xl"
    >
      Il territorio
    </h1>
    <div
      class="text-2xl md:text-3xl 2xl:text-4xl max-w-5xl text-center mt-6 px-8"
    >
      Nel cuore del Monferrato, le nostre vigne si estendono per 12 ettari tra
      le colline di Mombello Monferrato e Solonghello, dove il paesaggio alterna
      filari ordinati, campi, boschi e piccoli borghi antichi che punteggiano
      l’orizzonte. Un territorio dalla lunga tradizione viticola, modellato da
      secoli di storia agricola. I vigneti si trovano tra i 250 e i 320 metri di
      altitudine, su terreni calcareo-argillosi che assicurano ottimo drenaggio,
      profondità e mineralità, elementi fondamentali per vini complessi, longevi
      e territoriali. Le esposizioni prevalentemente a sud e sud-ovest
      permettono una maturazione completa e bilanciata delle uve, con escursioni
      termiche che esaltano l’espressione aromatica, in particolare delle
      varietà bianche.
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-10">
    <img
      class="h-full w-full object-cover"
      src="assets/images/detail3.jpg"
      alt=""
    />
    <img
      class="h-full w-full object-cover"
      src="assets/images/_1664420.jpg"
      alt=""
    />
  </div>
</div>
