@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Cardo";
    src: url("/assets/fonts/Cardo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cardo";
    src: url("/assets/fonts/Cardo-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Cardo";
    src: url("/assets/fonts/Cardo-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
}

@theme {
  --font-cardo: "Cardo", "sans-serif";
  --font-lullabies-heavy: "lullabies-heavy", "sans-serif";
  --font-lullabies-heavy-fill: "lullabies-heavy-fill", "sans-serif";
  --font-lullabies-regular: "lullabies-regular", "sans-serif";
  --font-lullabies-regular-fill: "lullabies-regular-fill", "sans-serif";
  --font-lullabies-text: "lullabies-text", "sans-serif";
  --font-lullabies-text-fill: "lullabies-text-fill", "sans-serif";
  --color-primary: #e5decb;
  --color-text: #1a1a1a;
}

.splide__slide.is-visible.is-active {
  outline: none !important;
  border: none !important;
}

.splide__arrow--next.transparent-background {
  background-color: transparent;
}
.splide__arrow--prev.transparent-background {
  background-color: transparent;
}

/* .splide__slide div {
  transition: font-size 0.4s ease; 
} */

