@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Cardo";
    src: url("/assets/fonts/Cardo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cardo";
    src: url("/assets/fonts/Cardo-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Cardo";
    src: url("/assets/fonts/Cardo-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
}

@theme {
  --font-cardo: "Cardo", "sans-serif"; 
  --color-primary: #E5DECB;
  --color-text: #1A1A1A;
}

