<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="overflow-hidden rounded-xl shadow-lg">
        <img
          src="assets/images/flower.avif"
          class="w-full h-[700px] object-cover"
        />
      </div>
      <div class="overflow-hidden rounded-xl shadow-lg">
        <img
          src="assets/images/treees.avif"
          class="w-full h-[700px] object-cover"
        />
      </div>
    </div>
  </div>
</section>
